@model Web.ViewModels.User.UserViewModel;
<div class="d-flex justify-content-end mb-2">
    @if(TempData["Role"]?.ToString() == "manage")
    {
        <a asp-controller="User" asp-action="Add" class="btn btn-success float-right">
            <span class="icon text-white-50">
                <i class="fa fa-plus"></i>
            </span>
            <span class="text">新增</span>
        </a>
    }
</div>
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>排序</th>
                        <th>名稱</th>
                        <th>帳號</th>
                        <th>信箱</th>
                        <th>權限</th>
                        <th>狀態</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model != null && Model.SearchData?.List?.Count > 0)
                    {
                        int count = 1;
                        foreach(var data in Model.SearchData.List)
                        {
                            var role = data.Role switch
                            {
                                "normal" => "一般使用者",
                                "manage" => "管理員",
                                _ => ""
                            };
                            var status = data.Status switch
                            {
                                "enabled" => "啟用中",
                                "disabled" => "停用中",
                                _ => ""
                            };
                            <tr>
                                <td>@count</td>
                                <td>@data.Name</td>
                                <td>@data.Account</td>
                                <td>@data.Email</td>
                                <td>@Html.Raw(role)</td>
                                <td>@Html.Raw(status)</td>
                                <td>
                                    <a asp-controller="User" asp-action="Detail" asp-route-User_id=@data.Uid class="btn btn-info">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-eye"></i>
                                        </span>
                                        <span class="text">檢視</span>
                                    </a>
                                    @if(data.Uid.ToString() == TempData["Uid"]?.ToString() || TempData["Role"]?.ToString() == "manage")
                                    {
                                        <a asp-controller="User" asp-action="Edit" asp-route-User_id=@data.Uid class="btn btn-secondary">
                                            <span class="icon text-white-50">
                                                <i class="fa fa-pen"></i>
                                            </span>
                                            <span class="text">編輯</span>
                                        </a>
                                    }
                                    @if(TempData["Role"]?.ToString() == "manage")
                                    {
                                        <a href="#" onclick="Delete(@data.Uid)" class="btn btn-danger">
                                            <span class="icon text-white-50">
                                                <i class="fa fa-trash-alt"></i>
                                            </span>
                                            <span class="text">刪除</span>
                                        </a>
                                    }
                                </td>
                            </tr>
                            count++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@if(TempData["Role"]?.ToString() == "manage")
{
    <script type="text/javascript">
        function Delete(User_id)
        {
            if(User_id == null || User_id == 0)
            {
                Swal.fire("失敗", "請選擇刪除使用者", "warning");
                return false;
            }
            $.ajax({
                url: "/User/Delete",
                data: { User_id : User_id },
                type: "POST",
                success: function (data) {
                    if(data.result =="success"){
                        Swal.fire("成功", '刪除成功', "success");
                        return true;
                    }else{
                        Swal.fire("失敗", data.message, "warning");
                        return false;
                    }
                }
            });
        }
    </script>
}
<script type="text/javascript">
$(document).ready(function () {
    $('#dataTable').DataTable({
        pagingType: 'full_numbers',
        language: {
            "lengthMenu": "顯示 _MENU_ 筆資料",
            "sProcessing": "處理中...",
            "sZeroRecords": "没有匹配结果",
            "sInfo": "目前有 _MAX_ 筆資料",
            "sInfoEmpty": "目前共有 0 筆紀錄",
            "sInfoFiltered": " ",
            "sInfoPostFix": "",
            "sSearch": "搜尋:",
            "sUrl": "",
            "sEmptyTable": "尚未有資料紀錄存在",
            "sLoadingRecords": "載入資料中...",
            "sInfoThousands": ",",
            "oPaginate": {
                "sFirst": "首頁",
                "sPrevious": "上一頁",
                "sNext": "下一頁",
                "sLast": "末頁"
            },
            "order": [[0, "desc"]],
            "oAria": {
                "sSortAscending": ": 以升序排列此列",
                "sSortDescending": ": 以降序排列此列"
            }
        },
        "columnDefs": [
            {"className": "text-center align-items-center", "targets": "_all"}
        ]
    });
});
</script>